*,
header {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: heading;
  src: url(sansation_light.woff);
}

header,
footer {
  background-color: green;
  opacity: 0.6;
  text-align: center;
  color: white;
  height: 50px;
  width: 100%;
  padding: 15px 0 15px;
}

header {
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  font-family: heading;
}
/*This is for the navigation bar at the top of the page with three buttons on it*/
.tabNavBar {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/*This is where the heading-wise content is displayed*/
.contents {
  margin-top: 5px;
}

.contents img {
  margin-left: 15px;
  border: 2px;
  border-style: double;
  border-color: green;
  border-radius: 200px;

  height: 200px;
  width: 200px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 3px 10px 20px 4px rgba(0, 0, 0, 0.21);

}

.contents {
  text-align: left;
}

.content,
.contents,
section {
  padding: 12px;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2), 0px 10px 9px 0px rgba(0, 0, 0, 0.21);
}

section {
  margin-top: 20px;
}

.tabNavBar .links {
  margin: 0;
  width: 33.1%;
}

.tabNavBar .links,
.tabNavBar,
header,
footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

}

.tabSideNavBar {
  float: left;
  background-color: white;
  width: 29.5%;
  padding: 0;

}

.tabSideNavBar,
.content {
  margin: 8px;
}

.tabSideNavBar button
,.headings,
.tabNavBar button {
  background-color: inherit;
  opacity: inherit;
  padding: 14px 14px;
  width: 100%;
  border: none;
  outline: none;
  text-align: justify;
}

.tabSideNavBar button,
.headings,
.tabNavBar button {
  color: green;
}

.tabSideNavBar button,
.tabNavBar button {
  font-size: 17px;
  transition: 0.12s;
  cursor: pointer;
}
/* What The below two rules do is,
It'll change the color of the button
when we keep the cursor on them/when a button is being clicked.
*/
.tabNavBar button:hover,
.tabSideNavBar button:hover {
  background-color: #ddd;
}

.tabSideNavBar button.active,
.tabNavBar button.active {
  background-color: #ccc;
}
/* Style the tab content */

.content {
  width: 68.3%;
  display: none;
  margin-left: 31%;
}

table,
.content,
.contents,
.headings,
.tabSideNavBar button,
.tabNavBar button {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th,
td {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

ul,
ol {
  list-style: none;
}

ul>li::before {
  content: "•";
  color: green;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

ol {
  counter-reset: li
}

ol>li::before {
  content: counter(li);
  color: green;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

ol>li {
  counter-increment: li
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  bottom: 0;
  clear: both;
  height: 3em;
  position: static;
}

#hoverNav a {
  position: absolute;
  left: -100px;
  transition: 0.6s;
  padding: 15px;
  width: 110px;
  border-radius: 0 10px 10px 0;
}

#hoverNav a:hover {
  left: 0;
}

#fb {

  top: 200px;
  background: #3b5998;
  color: white;

}

#ln {
  top: 250px;
  background: #007bb5;
  color: white;
}

.loader {
  width: 100%;
  height: 5px;
  border: 1px solid #32CD32;
  border-radius: 3px;
  background-image:
  repeating-linear-gradient(
    45deg,
    #32CD32,
    #32CD32 11px,
    #eee 10px,
    #eee 20px /* determines size */
    );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
  }

  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 28px 0;
    }
  }
